<section id="appointments">
  <div class="header">
    <%= image_tag('nurse_header.jpg', class:'header-image') %>
  </div>
  <div class="content">
      <h1>Our Infusion Center</h1>

      <p class="callout-block">
          <span>Infectious Disease Consultant</span> provides an ambulatory, onsite infusion service. Those that require outpatient antibiotics can receive their ongoing treatment in the comfort and privacy of  our Infusion Center. We have dedicated staff trained specifically for these treatments, and a dedicated space which is equipped with comfortable reclining lounge chairs, and WiFi access for the periodic visits that may be required for such treatments.
      </p>

      <div id="carousel">
          <%= image_tag('infusion_center/Infusioncenter.jpeg') %>
          <%= image_tag('infusion_center/infusioncenter3.jpeg') %>
          <%= image_tag('infusion_center/infusioncenter4.jpeg') %>
          <%= image_tag('infusion_center/infusioncenter5.jpeg') %>
        <%= image_tag('infusion_center/infusioncenter2.jpeg', class: "wide") %>
        <%= image_tag('infusion_center/infusioncenter6.jpeg', class: "wide") %>

      </div>
  </div>
</section>