<section id="physicians">
  <div class="header">
    <%= image_tag('physicians.jpg', class:'header-image') %>
  </div>
  <div class="content">
    <h1>Meet Our Team</h1>
    <p>
      Our group has cared for patients from the Delaware and northern Maryland area for over 20 years. We currently have 5 ABIM board-certified infectious disease specialists, as well as a physician assistant.
    </p>
    <p>
      Our group is experienced in treating complicated infections such as MRSA and drug resistant bacterial infections, bone infections (osteomyelitis), heart infections (endocarditis), tick-borne infections, post-op infections, and many more.  Within our group there is additional individual expertise or certification for specialized care of wounds, recurrent Clostridium difficile infections who need referral for fecal microbiota transplant, and travel medicine.  We hope that that infections do not become a health concern for any, but our caring physicians are here to help if the need arises.
    </p>
    <div class="physicians">
      <div class="physician">
        <div class="left column img">
          <%= image_tag('Wes.jpg') %>
        </div>
        <div class="right column info">
          <div class="bio-wrapper">
            <div class="bio-nav">
              <a href="#" class="about active">About</a>
              <a href="#" class="education">Education</a>
              <a href="#" class="training">Training</a>
              <a href="#" class="licenses">Licenses</a>
            </div>
            <div class="bio-content">
              <div class="about show">
                Byungwoo Choi, MD is board certified in Internal Medicine and Infectious Disease. He initially came to central Pennsylvania for his Internal Medicine residency at PinnacleHealth in Harrisburg, PA before completing Infectious Disease fellowship training at Cleveland Clinic in Cleveland, OH. He is a graduate of Kyunghee University, College of Medicine in Seoul, South Korea. His interest of focus includes infections in the immunocompromised host, Clostridium difficile infection, healthcare-associated infections, bone and joint infections and cardiac device infections. He lives in northern Delaware since 2016 with his wife Eumi and 3 young children. He loves traveling, coffee roasting/tasting and photography.　
              </div>
              <div class="education">
                B.S. Ursinus College, Collegeville, PA. 1981<br/>
                M.D. Pennsylvania State University, Milton S Hershey Medical Center, Hershey, PA. 1985
              </div>
              <div class="training">
                1985-1988. Internship and Residency in Internal Medicine. Medical Center of Delaware, Wilmington, DE<br/>
                1992-1994. Fellowship in Infectious Disease, National Naval Medical Center, Bethesda, MD.
              </div>
              <div class="licenses">
                Voted one of best infectious disease doctors in Delaware, by Delaware Today, 2016, etc<br/>
                Currently licensed in Maryland and Delaware and Pennsylvania<br/>
                Certificate of Knowledge in Clnical Tropical Medicine and Traveler’s Health by American Society of Tropical Medicine and Hygiene. 12/6/1997.<br/>
                Member of IDSA, ACP, Medical Society of Delaware, AMA
              </div>
            </div>
            <div class="clear"></div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
      <div class="physician">
        <div class="left column info">
          <div class="bio-wrapper">
            <div class="bio-nav">
              <a href="#" class="about active">About</a>
              <a href="#" class="education">Education</a>
              <a href="#" class="training">Training</a>
              <a href="#" class="licenses">Licenses</a>
            </div>
            <div class="bio-content">
              <div class="about show">
                Byungwoo Choi, MD is board certified in Internal Medicine and Infectious Disease. He initially came to central Pennsylvania for his Internal Medicine residency at PinnacleHealth in Harrisburg, PA before completing Infectious Disease fellowship training at Cleveland Clinic in Cleveland, OH. He is a graduate of Kyunghee University, College of Medicine in Seoul, South Korea. His interest of focus includes infections in the immunocompromised host, Clostridium difficile infection, healthcare-associated infections, bone and joint infections and cardiac device infections. He lives in northern Delaware since 2016 with his wife Eumi and 3 young children. He loves traveling, coffee roasting/tasting and photography.　
              </div>
              <div class="education">
                B.A. Pillsbury Colege, Owatonna, MN. 1981 <br/>
                B.S. West Chester university, PA. 1983<br/>
                M.D. Pennsylvania State University, Milton S Hershey Medical Center, Hershey, PA. 1987.
              </div>
              <div class="training">
                987-1990: Internship and Residency in Internal Medicine, Pennsylvania Hospital, Philadelphia, PA<br/>
                1990-1992: Fellowship in Infectious Diseases, Unversity of Pennsylvania, Philadelphia, PA
              </div>
              <div class="licenses">
                Currently Licensed in Maryland and Delaware<br/>
                FACP (fellow of American college of physicians) 2015<br/>
                Physician of the Year, Union Hospital of Cecil County, 2014
              </div>
            </div>
            <div class="clear"></div>
          </div>
        </div>
        <div class="right column img">
          <%= image_tag('Jim Ley.jpg') %>
        </div>
        <div class="clear"></div>
      </div>
      <div class="physician">
        <div class="left column img">
          <%= image_tag('Maya Gupta.jpg') %>
        </div>
        <div class="right column info">
          <div class="bio-wrapper">
            <div class="bio-nav">
              <a href="#" class="about active">About</a>
              <a href="#" class="education">Education</a>
              <a href="#" class="training">Training</a>
              <a href="#" class="licenses">Licenses</a>
            </div>
            <div class="bio-content">
              <div class="education">
                MBBS. Maulana Azad Medical College, new Delhi, India. 1989
              </div>
              <div class="training">
                1990 Rotating Internship Maulana Azad Medical College, New Delhi, India.<br/>
                1991-1993 OBGYN Sucheta Kriplani Hospital. New Delhi, India<br/>
                1994-1997 Internal Medicine Good Samaritan Hospital Baltimore, MD. Chief Resident of IM in final year.<br/>
                2005-2007 Fellowship in Infectious Diseases. Drexel Univerity, Philadelphia, pa.
              </div>
              <div class="licenses">
                Currently licensed in ID in MD, DE, and unrestricted Indiana license<br/>
                Certified by ABIM in ID in 2007, re-cert in 2017<br/>
                Member of IDSA
              </div>
            </div>
            <div class="clear"></div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
      <div class="physician">
        <div class="left column info">
          <div class="bio-wrapper">
            <div class="bio-nav">
              <a href="#" class="about active">About</a>
              <a href="#" class="education">Education</a>
              <a href="#" class="training">Training</a>
              <a href="#" class="licenses">Licenses</a>
            </div>
            <div class="bio-content">
              <div class="about show">
                Byungwoo Choi, MD is board certified in Internal Medicine and Infectious Disease. He initially came to central Pennsylvania for his Internal Medicine residency at PinnacleHealth in Harrisburg, PA before completing Infectious Disease fellowship training at Cleveland Clinic in Cleveland, OH. He is a graduate of Kyunghee University, College of Medicine in Seoul, South Korea. His interest of focus includes infections in the immunocompromised host, Clostridium difficile infection, healthcare-associated infections, bone and joint infections and cardiac device infections. He lives in northern Delaware since 2016 with his wife Eumi and 3 young children. He loves traveling, coffee roasting/tasting and photography.　
              </div>
              <div class="education">
                B.S. University of Pittsburgh School of Pharmacy, Pittsburgh, PA<br/>
                M.D. Temple University school of Medicine, Philadelphia, PA<br/>
                MPH Tufts University School of Medicine, Boston, MA
              </div>
              <div class="training">
                2005-2008	Internship and residency in Internal Medicine, Temple University Hospital<br/>
                2009-2012	Fellowship in Infectious Diseases, including Research Year, Tufts Medical Center
              </div>
              <div class="licenses">
                Currently licensed in Maryland and Delaware<br/>
                Certified by ABIM for ID in 2011<br/>
                Member of IDSA, Medical Society of Delaware
              </div>
            </div>
            <div class="clear"></div>
          </div>
        </div>
        <div class="right column img">
          <%= image_tag('chad.jpg') %>
        </div>
        <div class="clear"></div>
      </div>
      <div class="physician">
        <div class="left column img">
          <%= image_tag('Ben Choi.jpg') %>
        </div>
        <div class="right column info">
          <div class="bio-wrapper">
            <div class="bio-nav">
              <a href="#" class="about active">About</a>
              <a href="#" class="education">Education</a>
              <a href="#" class="training">Training</a>
              <a href="#" class="licenses">Licenses</a>
            </div>
            <div class="bio-content">
              <div class="about show">
                Byungwoo Choi, MD is board certified in Internal Medicine and Infectious Disease. He initially came to central Pennsylvania for his Internal Medicine residency at PinnacleHealth in Harrisburg, PA before completing Infectious Disease fellowship training at Cleveland Clinic in Cleveland, OH. He is a graduate of Kyunghee University, College of Medicine in Seoul, South Korea. His interest of focus includes infections in the immunocompromised host, Clostridium difficile infection, healthcare-associated infections, bone and joint infections and cardiac device infections. He lives in northern Delaware since 2016 with his wife Eumi and 3 young children. He loves traveling, coffee roasting/tasting and photography.　
              </div>
              <div class="education">
                MBBS. Maulana Azad Medical College, new Delhi, India. 1989
              </div>
              <div class="training">
                1990 Rotating Internship Maulana Azad Medical College, New Delhi, India.<br/>
                1991-1993 OBGYN Sucheta Kriplani Hospital. New Delhi, India<br/>
                1994-1997 Internal Medicine Good Samaritan Hospital Baltimore, MD. Chief Resident of IM in final year.<br/>
                2005-2007 Fellowship in Infectious Diseases. Drexel Univerity, Philadelphia, pa.
              </div>
              <div class="licenses">
                Currently licensed in ID in MD, DE, and unrestricted Indiana license<br/>
                Certified by ABIM in ID in 2007, re-cert in 2017<br/>
                Member of IDSA
              </div>
            </div>
            <div class="clear"></div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
      <div class="physician">
        <div class="left column info">
          <div class="bio-wrapper">
            <div class="bio-nav">
              <a href="#" class="about active">About</a>
              <a href="#" class="education">Education</a>
              <a href="#" class="training">Training</a>
              <a href="#" class="licenses">Licenses</a>
            </div>
            <div class="bio-content">
              <div class="about show">
                Elizabeth Conway, PA, has been working as a professional in healthcare since 1991. She initially completed a Bachelors degree in nursing in 2000, then went on to complete a post-baccalaureate at Hahnemann University in 2003 in order to become a Physician Assistant (PA). Since she has become a PA, she has worked as a clinician in medicine and cared for patients in numerous ways. This includes working in emergency medicine, and providing surgical and medicine care for inpatients. She has also been involved in quality assurance measures during her duties in previous positions. She has been part of Infectious Disease consultants since 2015.
              </div>
              <div class="education">
                B.A. Pillsbury Colege, Owatonna, MN. 1981 <br/>
                B.S. West Chester university, PA. 1983<br/>
                M.D. Pennsylvania State University, Milton S Hershey Medical Center, Hershey, PA. 1987.
              </div>
              <div class="training">
                987-1990: Internship and Residency in Internal Medicine, Pennsylvania Hospital, Philadelphia, PA<br/>
                1990-1992: Fellowship in Infectious Diseases, Unversity of Pennsylvania, Philadelphia, PA
              </div>
              <div class="licenses">
                Currently Licensed in Maryland and Delaware<br/>
                FACP (fellow of American college of physicians) 2015<br/>
                Physician of the Year, Union Hospital of Cecil County, 2014
              </div>
            </div>
            <div class="clear"></div>
          </div>
        </div>
        <div class="right column img">
          <%= image_tag('Beth.jpg') %>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</section>