<section id="physicians">
  <div class="header">
    <%= image_tag('physicians.jpg', class:'header-image') %>
  </div>
  <div class="content">
    <h1>Meet Our Team</h1>
    <p>
      Our group has cared for patients from the Delaware and northern Maryland area for over 20 years. We currently have 6 ABIM board-certified infectious disease specialists.
    </p>
    <p>
      Our group is experienced in treating complicated infections such as MRSA and drug resistant bacterial infections, bone infections (osteomyelitis), heart infections (endocarditis), tick-borne infections, post-op infections, and many more.  Within our group there is additional individual expertise or certification for specialized care of wounds, recurrent Clostridium difficile infections who need referral for fecal microbiota transplant, and travel medicine.  We hope that infections do not become a health concern for any, but our caring physicians are here to help if the need arises.
    </p>
    <div class="physicians desktop">
      <h2 class="name">James S. Ley, MD</h2>
      <div class="divider"></div>
      <div class="physician">
        <div class="left column img">
          <%= image_tag('Jim Ley.jpg') %>
        </div>
        <div class="right column info">
          <div class="bio-wrapper">
            <div class="bio-nav">
              <a href="#" class="about active">About<i class="fa fa-angle-right" aria-hidden="true"></i></a>
              <a href="#" class="education">Education<i class="fa fa-angle-right" aria-hidden="true"></i></a>
              <a href="#" class="training">Training<i class="fa fa-angle-right" aria-hidden="true"></i></a>
              <a href="#" class="licenses">Licenses<i class="fa fa-angle-right" aria-hidden="true"></i></a>
            </div>
            <div class="bio-content">
              <div class="about show">
                Dr. James Ley was born and raised in a suburb of Philadelphia. After high school, he studied at Pillsbury College, earning a Bachelor’s degree in Biblical Studies, Greek, and Pastoral Studies. In 1983, Dr. Ley received a B.S. degree in Chemistry and Biology at West Chester University. He continued his education at Pennsylvania State University College of Medicine at Hershey Medical Center, where he earned his M.D. degree in 1987.  Dr. Ley returned to Philadelphia for his Internal Medicine residency at Pennsylvania Hospital, followed by an Infectious Disease Fellowship, completed in 1992, at The University of Pennsylvania Hospital. Highlights of his medical education included training electives in Kenya and Uganda, which provided experience in both tropical medicine and mission’s work. His interest in missions also led him to provide general medical care for residents at a faith-based drug rehab center in Philadelphia.
                <a href="#" id="" class="bio-more jim link">Read More</a>

              </div>
              <div class="education">
                B.A. Pillsbury Colege, Owatonna, MN. 1981 <br/><br/>
                B.S. West Chester university, PA. 1983<br/><br/>
                M.D. Pennsylvania State University, Milton S Hershey Medical Center, Hershey, PA. 1987.
              </div>
              <div class="training">
                1987-1990: Internship and Residency in Internal Medicine, Pennsylvania Hospital, Philadelphia, PA<br/><br/>
                1990-1992: Fellowship in Infectious Diseases, Unversity of Pennsylvania, Philadelphia, PA
              </div>
              <div class="licenses">
                Currently Licensed in Maryland and Delaware<br/><br/>
                FACP (fellow of American college of physicians) 2015<br/><br/>
                Physician of the Year, Union Hospital of Cecil County, 2014
              </div>
            </div>
            <div class="clear"></div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
      <h2 class="name">Wesley W. Emmons III, MD</h2>
      <div class="divider"></div>
      <div class="physician grey">
        <div class="left column info">
          <div class="bio-wrapper">
            <div class="bio-nav">
              <a href="#" class="about active">About<i class="fa fa-angle-right" aria-hidden="true"></i></a>
              <a href="#" class="education">Education<i class="fa fa-angle-right" aria-hidden="true"></i></a>
              <a href="#" class="training">Training<i class="fa fa-angle-right" aria-hidden="true"></i></a>
              <a href="#" class="licenses">Licenses<i class="fa fa-angle-right" aria-hidden="true"></i></a>
            </div>
            <div class="bio-content">
              <div class="about show">
                Dr. Wesley Emmons practiced internal medicine for 4 years before completing an Infectious Diseases Fellowship at the National Naval Medical Center in Bethesda MD.  After serving a 1 year stint as a co-instructor at the US Navy’s Tropical Medicine School in San Juan, Puerto Rico, he did a 6 year tour as the Infectious Diseases and HIV Division Head at the Naval Medical Center in Portsmouth VA.  During his 13 years as a Naval physician, he lived in Puerto Rico and Cairo Egypt, and did tours of duty in Brazil and the Dominican Republic; his overseas experience allowed him to qualify and pass the ASTMH’s Certificate of Knowledge in Clinical Tropical Medicine and Traveler’s Health.
                <a href="#" id="" class="bio-more wes link">Read More</a>
              </div>
              <div class="education">
                B.S. Ursinus College, Collegeville, PA. 1981<br/><br/>
                M.D. Pennsylvania State University, Milton S Hershey Medical Center, Hershey, PA. 1985
              </div>
              <div class="training">
                1985-1988. Internship and Residency in Internal Medicine. Medical Center of Delaware, Wilmington, DE<br/><br/>
                1992-1994. Fellowship in Infectious Disease, National Naval Medical Center, Bethesda, MD.
              </div>
              <div class="licenses">
                Voted one of best infectious disease doctors in Delaware, by Delaware Today, 2016, etc<br/><br/>
                Currently licensed in Maryland and Delaware and Pennsylvania<br/><br/>
                Certificate of Knowledge in Clnical Tropical Medicine and Traveler’s Health by American Society of Tropical Medicine and Hygiene. 12/6/1997.<br/><br/>
                Member of IDSA, ACP, Medical Society of Delaware, AMA
              </div>
            </div>
            <div class="clear"></div>
          </div>
        </div>
        <div class="right column img">
          <%= image_tag('Wes.jpg') %>
        </div>
        <div class="clear"></div>
      </div>
      <h2 class="name">Chad Duffalo, MD, MPH</h2>
      <div class="divider"></div>
      <div class="physician grey">
        <div class="left column info">
          <div class="bio-wrapper">
            <div class="bio-nav">
              <a href="#" class="about active">About<i class="fa fa-angle-right" aria-hidden="true"></i></a>
              <a href="#" class="education">Education<i class="fa fa-angle-right" aria-hidden="true"></i></a>
              <a href="#" class="training">Training<i class="fa fa-angle-right" aria-hidden="true"></i></a>
              <a href="#" class="licenses">Licenses<i class="fa fa-angle-right" aria-hidden="true"></i></a>
            </div>
            <div class="bio-content">
              <div class="about show">
                Dr. Chad Duffalo started his professional career in pharmacy, working as a registered pharmacist for several years before pursuing his medical degree and Internal Medicine training at Temple University in Philadelphia, PA. He went on to obtain his Infectious Disease training at Tufts University in Boston, MA.  As part of specialized training, he completed an additional Masters in Public Health degree, and helped conduct and publish original research on intestinal microbiota. He continues to have an interest in intestinal microbiota, and helps conduct the Christiana Care Health System Fecal Microbiota Transplant program. He has been regularly sighted on the list of "Top Docs" as seen in the Delaware Times, a list voted on by his peers. His experiences in medicine also include studying tropical infectious diseases in Peru, as well as volunteering in Kenya. On a personal note, he has a love of competing in sports, and has endured numerous competitions from marathons to extreme biking races. He has made Delaware his home since 2013, where he enjoys spending time with his family, and continuing to pursue outdoor and sporting adventures.
              </div>
              <div class="education">
                B.S. University of Pittsburgh School of Pharmacy, Pittsburgh, PA<br/><br/>
                M.D. Temple University school of Medicine, Philadelphia, PA<br/><br/>
                MPH Tufts University School of Medicine, Boston, MA
              </div>
              <div class="training">
                2005-2008	Internship and residency in Internal Medicine, Temple University Hospital<br/><br/>
                2009-2012	Fellowship in Infectious Diseases, including Research Year, Tufts Medical Center
              </div>
              <div class="licenses">
                Currently licensed in Maryland and Delaware<br/><br/>
                Certified by ABIM for ID in 2011<br/><br/>
                Member of IDSA, Medical Society of Delaware
              </div>
            </div>
            <div class="clear"></div>
          </div>
        </div>
        <div class="right column img">
          <%= image_tag('chad.jpg') %>
        </div>
        <div class="clear"></div>
      </div>
      <h2 class="name">T. Reena Mascarenhas, MD</h2>
      <div class="divider"></div>
      <div class="physician grey">
            <div class="left column info">
                <div class="bio-wrapper">
                    <div class="bio-nav">
                        <a href="#" class="about active">About<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        <a href="#" class="education">Education<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        <a href="#" class="training">Training<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        <a href="#" class="licenses">Licenses<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    </div>
                    <div class="bio-content">
                        <div class="about show">
                            Dr Mascarenhas was born and raised in India. She attended the well-respected Madurai Medical College, where she earned her medical degree. Driven by her interest in further education abroad, she moved to the United States. She completed her residency training in Internal Medicine at Christiana Care Hospital, and went on to complete a fellowship in Infectious Diseases at Thomas Jefferson University Hospital in Philadelphia. After graduating from Fellowship, she has returned to serve the local community in Delaware and the Christiana Care Health System.   She holds a particularly interest in serving the HIV community, and has expertise in treating co-infected HIV patients with Hepatitis C virus. She is interested in Global antibiotic stewardship as well.
                        </div>
                        <div class="education">
                            2002-2008: Madurai Medical College & Government Rajaji HospitalM<br/><br/>
                            2009 Granted Bachelor of Medicine & Bachelor of Surgery (MBBS) from Tamil Nadu Dr. M.G.R. Medical University
                        </div>
                        <div class="training">
                            2011-2014 internship and residency in Internal Medicine at Christiana Care Health Services in Newark, DE<br/><br/>
                            2015-2017 Fellowship in Infectious Diseases at Thomas Jefferson University Hospital in Philadelphia, PA
                        </div>
                        <div class="licenses">
                            Currently licensed in Maryland and Delaware.<br/><br/>
                            Certified by ABIM for Infectious Diseases in 2017<br/><br/>
                            Member of IDSA and American Medical Association.
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="right column img">
                <%= image_tag('reena.jpg') %>
            </div>
            <div class="clear"></div>
        </div>

      <h2 class="name">Renaldo Neeley, MD</h2>
      <div class="divider"></div>
      <div class="physician grey">
        <div class="left column info">
          <div class="bio-wrapper">
            <div class="bio-nav">
              <a href="#" class="about active">About<i class="fa fa-angle-right" aria-hidden="true"></i></a>
              <a href="#" class="education">Education<i class="fa fa-angle-right" aria-hidden="true"></i></a>
              <a href="#" class="training">Training<i class="fa fa-angle-right" aria-hidden="true"></i></a>
              <a href="#" class="licenses">Licenses<i class="fa fa-angle-right" aria-hidden="true"></i></a>
            </div>
            <div class="bio-content">
              <div class="about show">
                Dr. Neeley was born and raised in Nassau, Bahamas. He graduated Magna Cum Laude from Elmira College with his Bachelor of Science in Biology. He is a graduate of Ross University School of Medicine. He completed an Internal Medicine Residency at SUNY Downstate Medical Center in Brooklyn, New York and completed his Infectious Disease fellowship at the University of Maryland Medical Center in Baltimore, Maryland.

                After his fellowship, Dr.Neeley practiced for several years in North Carolina, then relocated to Delaware in 2023 which is when he joined ID Consultants.

                Dr Neeley’s interests include opportunistic infections, Non-Tuberculosis Mycobacterium infections and prosthetic joint infections.  In his free time, Dr. Neeley enjoys traveling, theater and physical fitness.
              </div>
              <div class="education">
                B.S. Elmira College, Elmira NY. 2010
                M.D. Ross University School of Medicine, Dominica West Indies. 2015
              </div>
              <div class="training">
                2015-2018 Internship and Residency in Internal Medicine  SUNY Downstate Medical Center, Brooklyn, NY
                2018-2020 Fellowship in Infectious Disease, University of Maryland Medical Center, Baltimore, MD
              </div>
              <div class="licenses">
                Currently Licensed in Maryland and Delaware.<br/><br/>
                Certified by ABIM for Infectious Disease 2020.<br/><br/>
                Member of IDSA and American Medical Association.
              </div>
            </div>
            <div class="clear"></div>
          </div>
        </div>
        <div class="right column img">
          <%= image_tag('Renaldo.jpg') %>
        </div>
        <div class="clear"></div>
      </div>
    </div>

      <div class="physicians mobile">
          <h2 class="name">James S. Ley, MD</h2>
          <div class="divider"></div>
          <div class="mobile-physician">
              <div class="img">
                  <%= image_tag('Jim Ley.jpg') %>
              </div>
              <div class="about">
                  <h4>About</h4>
                  Dr. James Ley was born and raised in a suburb of Philadelphia. After high school, he studied at Pillsbury College, earning a Bachelor’s degree in Biblical Studies, Greek, and Pastoral Studies. In 1983, Dr. Ley received a B.S. degree in Chemistry and Biology at West Chester University. He continued his education at Pennsylvania State University College of Medicine at Hershey Medical Center, where he earned his M.D. degree in 1987.  Dr. Ley returned to Philadelphia for his Internal Medicine residency at Pennsylvania Hospital, followed by an Infectious Disease Fellowship, completed in 1992, at The University of Pennsylvania Hospital. Highlights of his medical education included training electives in Kenya and Uganda, which provided experience in both tropical medicine and mission’s work. His interest in missions also led him to provide general medical care for residents at a faith-based drug rehab center in Philadelphia.
                  <br/><br/>
                  Dr. Ley came to the Delmarva area in 1992, establishing medical practice at Union Hospital in Elkton, Christiana Hospital, Wilmington Hospital, and Saint Francis Hospital. Now in his 25th year of practice, Dr. Ley is a fellow of the American College of Physicians and maintains certification in Infectious Diseases by The American Board of Internal Medicine. Additionally, he is credentialed by Healogics Wound Care for wound care treatment.  Since 1999, he has been a wound care physician; previously at Christiana Care and currently at The Union Hospital Would Care Center.  Dr. Ley has also served as Chair of Medicine at Union Hospital, and in 2014, he was honored with the Physician of the Year award, by the Union Hospital medical staff.  Since 1992, he has treated tuberculosis patients, as chest clinic physician for the Cecil County Health Department.
                  <br/><br/>
                  Dr. Ley is married and has two children.  When he is not working, he enjoys fishing, hiking, volunteer work at his church, playing the piano, organ, accordion, and singing.
              </div>
              <div class="divider"></div>

              <div class="education">
                  <h4>Education</h4>
                  B.A. Pillsbury Colege, Owatonna, MN. 1981 <br/><br/>
                  B.S. West Chester university, PA. 1983<br/><br/>
                  M.D. Pennsylvania State University, Milton S Hershey Medical Center, Hershey, PA. 1987.
              </div>
              <div class="divider"></div>

              <div class="training">
                  <h4>Training</h4>
                  1987-1990: Internship and Residency in Internal Medicine, Pennsylvania Hospital, Philadelphia, PA<br/><br/>
                  1990-1992: Fellowship in Infectious Diseases, Unversity of Pennsylvania, Philadelphia, PA
              </div>
              <div class="divider"></div>

              <div class="licenses">
                  <h4>Licenses</h4>
                  Currently Licensed in Maryland and Delaware<br/><br/>
                  FACP (fellow of American college of physicians) 2015<br/><br/>
                  Physician of the Year, Union Hospital of Cecil County, 2014
              </div>
          </div>
          <h2 class="name">Wesley W. Emmons III, MD</h2>
          <div class="divider"></div>
          <div class="mobile-physician">
              <%= image_tag('Wes.jpg') %>
              <div class="about show">
                  <h4>About</h4>
                  Dr. Wesley Emmons practiced internal medicine for 4 years before completing an Infectious Diseases Fellowship at the National Naval Medical Center in Bethesda MD.  After serving a 1 year stint as a co-instructor at the US Navy’s Tropical Medicine School in San Juan, Puerto Rico, he did a 6 year tour as the Infectious Diseases and HIV Division Head at the Naval Medical Center in Portsmouth VA.  During his 13 years as a Naval physician, he lived in Puerto Rico and Cairo Egypt, and did tours of duty in Brazil and the Dominican Republic; his overseas experience allowed him to qualify and pass the ASTMH’s Certificate of Knowledge in Clinical Tropical Medicine and Traveler’s Health.He is a Fellow of the ACP and has published 20 manuscripts, written over 7 chapters, and edited numerous articles and 10 chapters for eMedicine and 4 other medical journals.  He has written Board questions for the ABIM’s Infectious Disease exam, the ASTMH’s Certificate of Knowledge exam, and the MKSAP.  He was voted “Teacher of the Year” 3 times in his career, has been selected as a Delaware “Top Doc” over 5 different times, and is widely sought after for his informative and entertaining lectures.  In 2004 he was selected for Christiana Care’s Maxwell Award for compassionate patient care.  He has been back in Delaware since 2001 where he enjoys spending time with his wife, children, and grandchildren.  Hobbies include SCUBA diving and going to the gym; the youngest participant to complete the New York Marathon in 1973, he once ran 100 miles in 23 hours (at the time a US record for a 21 year old); on another occasion, he did 1,111 situps.  He is also known throughout the hospital for his colorful outfits, specifically “Wacky Pants Wednesday” and “Hawaiian Shirt Friday”.
              </div>
              <div class="divider"></div>

              <div class="education">
                  <h4>Education</h4>
                  B.S. Ursinus College, Collegeville, PA. 1981<br/><br/>
                  M.D. Pennsylvania State University, Milton S Hershey Medical Center, Hershey, PA. 1985
              </div>
              <div class="divider"></div>

              <div class="training">
                  <h4>Training</h4>
                  1985-1988. Internship and Residency in Internal Medicine. Medical Center of Delaware, Wilmington, DE<br/><br/>
                  1992-1994. Fellowship in Infectious Disease, National Naval Medical Center, Bethesda, MD.
              </div>
              <div class="divider"></div>

              <div class="licenses">
                  <h4>Licenses</h4>
                  Voted one of best infectious disease doctors in Delaware, by Delaware Today, 2016, etc<br/><br/>
                  Currently licensed in Maryland and Delaware and Pennsylvania<br/><br/>
                  Certificate of Knowledge in Clnical Tropical Medicine and Traveler’s Health by American Society of Tropical Medicine and Hygiene. 12/6/1997.<br/><br/>
                  Member of IDSA, ACP, Medical Society of Delaware, AMA
              </div>
          </div>

          <h2 class="name">Maya Gupta, MD</h2>
          <div class="divider"></div>
          <div class="mobile-physician">
              <%= image_tag('Maya Gupta.jpg') %>
              <div class="about show">
                  <h4>About</h4>
                  Dr. Gupta did residency in Internal Medicine at Good Samaritan Hospital, Baltimore, MD. Thereafter she worked as an Internal Medicine Hospitalist in Delaware/Maryland area for 8 years before pursuing her passion in practicing medicine in Infectious Disease. She then completed her fellowship in Infectious Disease at Drexel University/ Hahnemann Hospital in Philadelphia, then returned to the Delaware area to join Infectious Disease Consultants in 2007, where she has been since. She currently serves as the Medical director of Infectious Disease at St. Francis hospital since July 2016. She has been selected as a "Top Doc" by her peers in Delaware Times in 2019. During her free time, she loves to travel and spend time with friends and family.
              </div>
              <div class="divider"></div>

              <div class="education">
                  <h4>Education</h4>
                  MBBS. Maulana Azad Medical College, new Delhi, India. 1989
              </div>
              <div class="divider"></div>

              <div class="training">
                  <h4>Training</h4>
                  1990 Rotating Internship Maulana Azad Medical College, New Delhi, India.<br/><br/>
                  1991-1993 OBGYN Sucheta Kriplani Hospital. New Delhi, India<br/><br/>
                  1994-1997 Internal Medicine Good Samaritan Hospital Baltimore, MD. Chief Resident of IM in final year.<br/><br/>
                  2005-2007 Fellowship in Infectious Diseases. Drexel Univerity, Philadelphia, pa.
              </div>
              <div class="divider"></div>

              <div class="licenses">
                  <h4>Licenses</h4>
                  Currently licensed in ID in MD, DE, and unrestricted Indiana license<br/><br/>
                  Certified by ABIM in ID in 2007, re-cert in 2017<br/><br/>
                  Member of IDSA
              </div>
          </div>

          <h2 class="name">Chad Duffalo, MD, MPH</h2>
          <div class="mobile-physician">
              <%= image_tag('chad.jpg') %>
              <div class="about show">
                  <h4>About</h4>
                  Dr. Chad Duffalo started his professional career in pharmacy, working as a registered pharmacist for several years before pursuing his medical degree and Internal Medicine training at Temple University in Philadelphia, PA. He went on to obtain his Infectious Disease training at Tufts University in Boston, MA.  As part of specialized training, he completed an additional Masters in Public Health degree, and helped conduct and publish original research on intestinal microbiota. He continues to have an interest in intestinal microbiota, and helps conduct the Christiana Care Health System Fecal Microbiota Transplant program. He has been regularly sighted on the list of "Top Docs" as seen in the Delaware Times, a list voted on by his peers. His experiences in medicine also include studying tropical infectious diseases in Peru, as well as volunteering in Kenya. On a personal note, he has a love of competing in sports, and has endured numerous competitions from marathons to extreme biking races. He has made Delaware his home since 2013, where he enjoys spending time with his family, and continuing to pursue outdoor and sporting adventures.              </div>
              <div class="divider"></div>

              <div class="education">
                  <h4>Education</h4>
                  B.S. Ursinus College, Collegeville, PA. 1981<br/><br/>
                  B.S. University of Pittsburgh School of Pharmacy, Pittsburgh, PA<br/><br/>
                  M.D. Temple University school of Medicine, Philadelphia, PA<br/><br/>
                  MPH Tufts University School of Medicine, Boston, MA
              </div>
              <div class="divider"></div>

              <div class="training">
                  <h4>Training</h4>
                  2005-2008	Internship and residency in Internal Medicine, Temple University Hospital<br/><br/>
                  2009-2012	Fellowship in Infectious Diseases, including Research Year, Tufts Medical Center
              </div>
              <div class="divider"></div>

              <div class="licenses">
                  <h4>Licenses</h4>
                  Currently licensed in Maryland and Delaware<br/><br/>
                  Certified by ABIM for ID in 2011<br/><br/>
                  Member of IDSA, Medical Society of Delaware
              </div>
          </div>

          <h2 class="name">T. Reena Mascarenhas, MD</h2>
          <div class="mobile-physician">
              <%= image_tag('reena.jpg') %>
              <div class="about show">
                  <h4>About</h4>
                  Dr Mascarenhas was born and raised in India. She attended the well-respected Madurai Medical College, where she earned her medical degree. Driven by her interest in further education abroad, she moved to the United States. She completed her residency training in Internal Medicine at Christiana Care Hospital, and went on to complete a fellowship in Infectious Diseases at Thomas Jefferson University Hospital in Philadelphia. After graduating from Fellowship, she has returned to serve the local community in Delaware and the Christiana Care Health System.   She holds a particularly interest in serving the HIV community, and has expertise in treating co-infected HIV patients with Hepatitis C virus. She is interested in Global antibiotic stewardship as well.
              </div>
              <div class="divider"></div>

              <div class="education">
                  <h4>Education</h4>
                  2002-2008: Madurai Medical College & Government Rajaji HospitalM<br/><br/>
                  2009 Granted Bachelor of Medicine & Bachelor of Surgery (MBBS) from Tamil Nadu Dr. M.G.R. Medical University
              </div>
              <div class="divider"></div>

              <div class="training">
                  <h4>Training</h4>
                  2011-2014 internship and residency in Internal Medicine at Christiana Care Health Services in Newark, DE<br/><br/>
                  2015-2017 Fellowship in Infectious Diseases at Thomas Jefferson University Hospital in Philadelphia, PA
              </div>
              <div class="divider"></div>

              <div class="licenses">
                  <h4>Licenses</h4>
                  Currently licensed in Maryland and Delaware.<br/><br/>
                  Certified by ABIM for Infectious Diseases in 2017<br/><br/>
                  Member of IDSA and American Medical Association.
              </div>
          </div>


        <h2 class="name">Renaldo Neeley, MD</h2>
        <div class="mobile-physician">
          <%= image_tag('Renaldo.jpg') %>
          <div class="about show">
            <h4>About</h4>

            Dr. Neeley was born and raised in Nassau, Bahamas. He graduated Magna Cum Laude from Elmira College with his Bachelor of Science in Biology. He is a graduate of Ross University School of Medicine. He completed an Internal Medicine Residency at SUNY Downstate Medical Center in Brooklyn, New York and completed his Infectious Disease fellowship at the University of Maryland Medical Center in Baltimore, Maryland.

            After his fellowship, Dr.Neeley practiced for several years in North Carolina, then relocated to Delaware in 2023 which is when he joined ID Consultants.

            Dr Neeley’s interests include opportunistic infections, Non-Tuberculosis Mycobacterium infections and prosthetic joint infections.  In his free time, Dr. Neeley enjoys traveling, theater and physical fitness.
          </div>
          <div class="divider"></div>

          <div class="education">
            <h4>Education</h4>
            B.S. Elmira College, Elmira NY. 2010<br/><br/>
            M.D. Ross University School of Medicine, Dominica West Indies. 2015
          </div>
          <div class="divider"></div>

          <div class="training">
            <h4>Training</h4>
            2015-2018 Internship and Residency in Internal Medicine  SUNY Downstate Medical Center, Brooklyn, NY<br/><br/>
            2018-2020 Fellowship in Infectious Disease, University of Maryland Medical Center, Baltimore, MD
          </div>
          <div class="divider"></div>

          <div class="licenses">
            <h4>Licenses</h4>
            Currently Licensed in Maryland and Delaware.<br/><br/>
            Certified by ABIM for Infectious Disease 2020.<br/><br/>
            Member of IDSA and American Medical Association
          </div>
        </div>

      </div>
  </div>
</section>